<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Management System</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="header">
            <div class="new-btn-container">
                <button class="new-btn" onclick="openform('.container-volume')">Add Volume</button> 
                <button class="new-btn" onclick="openform('.container')">Add Order</button>
            </div>
            <div>
                <h1>Order Management System</h1>
            </div>
            <div class="new-btn-container">
                <button class="new-btn" onclick="openform('.container-customer')">Add Customer</button>
            </div>
        </div>
    </header>
    <!-- <header>
        <nav class="header">
            <div>
                <h1>Order Management System</h1>
            </div>
            <div class="nav-links">
                <div class="new-btn-container"> 
                    <button class="new-btn" onclick="openform()">Add New</button>
                </div>
                <div class="new-btn-container">
                    <button class="new-btn" onclick="">Add Customer</button>
                </div>
            </div>
        </nav>
    </header> -->
    
    <div id="f_volume_data" data-volume='<%= JSON.stringify(f_volume) %>'></div>
    <!-- <div class="new-btn-container">
        <button class="new-btn" onclick="openform()">Add New</button>
    </div> -->
    <div class="container-customer">
        <button class="close-form" onclick="closeform('.container-customer')">X</button>
            <div class="form-container">
                <form method="POST" action="/addcustomer">
                    <input type="text" placeholder="Customer Name" name="customer">
                    <input type="submit" value="Add Customer">
                </form>
            </div>
    </div>
    <div class="container-volume">
        <button class="close-form" onclick="closeform('.container-volume')">X</button>
            <div class="form-container">
                <form method="POST" action="/volume">
                    <input type="text" placeholder="Volume" name="volume">
                    <input type="date" name="productiondate">
                    <input type="submit" value="Update Volume">
                </form>
            </div>
    </div>
    <div class="container">
        <div id='new-form'>
            <button class="close-form" onclick="closeform('.container')">X</button>
            <div class="form-container">
                <form method="POST" action="/order" id="orderForm">
                    <% let number = 1; %>
                    <% let existingSlNos = []; %>
                    <% all_orders.forEach(data=>{ %>
                        <% existingSlNos.push(parseInt(data.slno)); %>
                    <% });%>
                    <% existingSlNos.forEach(Slno=>{%>
                        <% if(parseInt(Slno) === number){ %>
                            <% number+=1 %> 
                        <%} %>
                    <%}) %>
                    <input type="number" name="Slno" value="<%= number %>" readonly>
                    <!-- <input type="text" placeholder="Customer Name" name="name" > -->
                    <select id="customerSelect" name="name">
                        <% customer_names.forEach(customer=>{ %>
                            <option value="<%= customer.customer_name %>"><%= customer.customer_name %></option>
                        <% }); %>
                    </select>
                    <select name="svolume">
                        <option value="0.25">250ml</option>
                        <option value="0.5">500ml</option>
                        <option value="0.75">750ml</option>
                    </select>
                    <input type="number" placeholder="Quantity" name="quantity">
                    <input type="date" name="deliverydate">
                    <input type="button" value="Place Order" onclick="placeOrder()">
                </form>
            </div>
        </div>    
    </div>
        <div class="update-form" id="updateform">
            <button class="close-uoform" onclick="closeform('.update-form')">X</button>
            <form method="POST" action="/update_order">
                <input type="number" name="uSerial" readonly hidden>
                <input type="number" name="uSlno" readonly>
                <!-- <input type="text" placeholder="Customer Name" name="uname" > -->
                <select id="customerSelect1" name="uname">
                    <% customer_names.forEach(customer=>{ %>
                        <option value="<%= customer.customer_name %>"><%= customer.customer_name %></option>
                    <% }); %>
                </select>
                <select name="usvolume">
                    <option value="0.25">250ml</option>
                    <option value="0.5">500ml</option>
                    <option value="0.75">750ml</option>
                </select>
                <input type="number" placeholder="Quantity" name="uquantity">
                <input type="date" name="udeliverydate">
                <input type="submit" value="Update Order">
            </form>
        </div>
        <div class="update-volume" id="updatevolume">
            <button class="close-uvform" onclick="closeform('.update-volume')">X</button>
            <form method="POST" action="/update_volume">
                <input type="number" name="uvSl" readonly hidden>
                <input type="number" placeholder="Volume" name="uvvolume">
                <input type="date" name="uvproductiondate">
                <input type="submit" value="Update Production Data">
            </form>
        </div>

        <div class="update-wastage" id="wastage-volume">
            <button class="close-uvform" onclick="closeform('.update-wastage')">X</button>
            <form method="POST" action="/update_wastage">
                <input type="number" name="slno" readonly hidden>
                <input type="number" placeholder="Wastage Volume" name="wastage">
                <input type="date" name="wastage-date" readonly>
                <input type="submit" value="Update">
            </form>
        </div>
        
    <% let total = 0; %>
    <% let date = 0; %>
    <% f_volume.forEach(productiondata=>{%>
        <%
            const fullDate = new Date(productiondata.production_date);
            const year = fullDate.getFullYear();
            const month = (fullDate.getMonth() + 1).toString().padStart(2, '0');
            const day = fullDate.getDate().toString().padStart(2, '0');
            const prod_date = `${year}-${month}-${day}`;
        %>

        <div class="table-wrapper">
            <h6 hidden><%= productiondata.slno %></h6> 
            <h2>Production Date: <%= prod_date %></h2> 
            <h2>Volume Produced: <%= parseFloat(productiondata.volume); %> Lts</h2>
            <h2>Total Volume: <%= parseFloat(productiondata.total_volume); %> Lts</h2>
            <button class="vol-edit-btn" onclick="editVolume('<%= productiondata.slno %>','<%= parseFloat(productiondata.volume); %>','<%= prod_date %>')">Edit</button>
            <button class="wastage-btn" onclick="wastage('<%= productiondata.slno %>','<%= parseFloat(productiondata.wastage_volume); %>','<%= prod_date %>')">Add Wastage Volume</button>
            <% let totalOrderedVolume = 0; %>
            <table id="ordersTable">
                <thead> 
                    <tr>
                        <th hidden>Sequence</th>
                        <th>Slno.</th>
                        <th>Name</th>
                        <th>Volume</th>
                        <th>Quantity</th>
                        <th>Total Volume</th>
                        <th>Delivery Date</th>
                        <th hidden>Fulfilled By</th>
                        <th>Action</th>
                        <th>Split Order</th>
                        <th>Order Status</th>
                    </tr>
                </thead>
                <tbody> 
                    <% all_orders.forEach((order, index) => { %>
                        <%
                            const fullDate = new Date(order.delivery_date);
                            const year = fullDate.getFullYear();
                            const month = (fullDate.getMonth() + 1).toString().padStart(2, '0');
                            const day = fullDate.getDate().toString().padStart(2, '0');
                            const ord_date = `${year}-${month}-${day}`;
                        %>
                        <% if(prod_date === ord_date){%>
                            <tr>
                                <td hidden><%= order.sequence %></td>
                                <td><%= order.slno %></td>
                                <td><%= order.customer_name %></td>
                                <td><%= order.volume %></td>
                                <td><%= order.quantity %></td>
                                <td><%= order.total_quantity %></td>
                                <% total += total %>
                                <td><%= ord_date %></td>
                                <td hidden>9AM</td>
                                <td>
                                    <button class="edit-btn" onclick="editOrder('<%= order.sequence %>','<%= order.slno %>', '<%= order.customer_name %>', '<%= order.volume %>', '<%= order.quantity %>', '<%= ord_date %>')">Edit</button>
                                </td>
                                <td>
                                    <button class="split-btn" onclick="splitOrder('<%= order.sequence %>','<%= order.slno %>', '<%= order.customer_name %>', '<%= order.volume %>', '<%= order.quantity %>', '<%= ord_date %>')">Split</button>
                                </td>
                                <td><%= order.order_status %></td>
                            </tr>
                        <% } %>
                    <% }); %>
                </tbody>
            </table>
            <h2 class="remaining-vol">Remaining Volume: <%= productiondata.remaining_volume%> Lt</h2>
            <h2 class="wastage-vol">Wastage Volume: <%= productiondata.wastage_volume%> Lt</h2>
        </div>
    <% }) %>

    <div class="split-form" id="splitform">
        <form method="POST" action="/split_order">
            <div class="form-group"> 
                <button class="close-sform" onclick="closeform('.split-form')">X</button>
                <input type="number" name="sSerial" readonly hidden>
                <input type="number" name="sSlno" readonly>
                <input type="text" placeholder="Customer Name" name="sname" readonly>
                <select name="ssvolume">
                    <option value="0.25">250ml</option>
                    <option value="0.5">500ml</option>
                    <option value="0.75">750ml</option>
                </select>
                <input type="number" placeholder="Quantity" name="squantity">
                <input type="date" name="sdeliverydate">
            </div>
            <div class="form-group">
                <input type="number" name="ssSerial" readonly hidden>    
                <input type="number" name="ssSlno" readonly>
                <input type="text" placeholder="Customer Name" name="ssname" readonly>
                <select name="ssvolume">
                    <option value="0.25">250ml</option>
                    <option value="0.5">500ml</option>
                    <option value="0.75">750ml</option>
                </select>
                <input type="number" placeholder="Quantity" name="ssquantity"  required>
                <input type="date" name="ssdeliverydate" required>
            </div>
            <input type="submit" value="Split Order">
        </form>
    </div>

    <footer>
        <p>&copy; 2024 Order Management System. All rights reserved.</p>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#customerSelect').select2();
            $('#customerSelect1').select2();
        });
        window.addEventListener('DOMContentLoaded', () => {
            const rows = document.querySelectorAll('#ordersTable tbody tr');
            let draggedRow = null;
            rows.forEach(row => {
                row.draggable = true;
                row.addEventListener('dragstart', function() {
                    draggedRow = this;
                    this.classList.add('dragging');
                });
                row.addEventListener('dragend', function() {
                    this.classList.remove('dragging');
                    draggedRow = null;
                });
                row.addEventListener('dragover', function(event) {
                    event.preventDefault();
                });
                row.addEventListener('drop', function() {
                    if (draggedRow && draggedRow !== this) {
                        const draggedIndex = Array.from(rows).indexOf(draggedRow);
                        const targetIndex = Array.from(rows).indexOf(this);
                        const tbody = this.parentNode;
                        tbody.insertBefore(draggedRow, targetIndex > draggedIndex ? this.nextSibling : this);
                        calculate_time();
                        updatecolors();
                    }
                });
            });
        });   
        
        window.addEventListener('DOMContentLoaded', () => {
            updatecolors();
            calculate_time();
        });

        function calculate_time()
        {
            const f_volume_data_element = document.getElementById('f_volume_data');
            const f_volume_data_string = f_volume_data_element.getAttribute('data-volume');
            const f_volume_data = JSON.parse(f_volume_data_string);
            let startTime = '10:00 AM';
            let prevProductionDate = null;

            f_volume_data.forEach(all_volume => {
                const rows = document.querySelectorAll('#ordersTable tbody tr');
                rows.forEach(row => {
                    let productionDate = row.cells[6].innerText;
                    let quantity = parseInt(row.cells[4].innerText);
                    if (productionDate !== prevProductionDate) {
                        startTime = '10:00 AM';
                        prevProductionDate = productionDate;
                    }

                    let time_taken = (quantity * 0.15) / 60;
                    let endTime = addTime(startTime, time_taken);
                    row.cells[7].innerText = endTime;
                    startTime = addTime(endTime, 0);
                });
            });
        };

        function addTime(startTime, hours) {
            let [hoursStr, minutesStr, ampm] = startTime.split(/:|\s/);
            let startHours = parseInt(hoursStr);
            let startMinutes = parseInt(minutesStr);
            let totalMinutes = startHours * 60 + startMinutes + hours * 60;
            let newHours = Math.floor(totalMinutes / 60);
            let newMinutes = totalMinutes % 60;
            let newAmPm = ampm;
            
            if (newHours >= 12) {
                newAmPm = 'PM';
            }      
            if (newHours > 12) {
                newHours -= 12;
            }
            return `${newHours}:${newMinutes < 10 ? '0' + newMinutes : newMinutes} ${newAmPm}`;
        }

        function updatecolors(){
            const f_volume_data_element = document.getElementById('f_volume_data');
            const f_volume_data_string = f_volume_data_element.getAttribute('data-volume');
            const f_volume_data = JSON.parse(f_volume_data_string);
            f_volume_data.forEach(all_volume => {
                const fullDate = new Date(all_volume.production_date);
                const year = fullDate.getFullYear();
                const month = (fullDate.getMonth() + 1).toString().padStart(2, '0');
                const day = fullDate.getDate().toString().padStart(2, '0');
                const new_date = `${year}-${month}-${day}`;
                let presentVolume = parseFloat(all_volume.total_volume) * 0.85;
                let bufferVolume = parseFloat(all_volume.total_volume) * 0.15;

                const rows = document.querySelectorAll('#ordersTable tbody tr');
                rows.forEach(row => {
                let deliveryDate = row.cells[6].innerText;
                let orderVolume = parseFloat(row.cells[5].innerText);
                let cell = row.cells[4];
                if (new_date == deliveryDate) {
                    if (orderVolume <= presentVolume) {
                        cell.style.backgroundColor = '#9EE493';
                        presentVolume -= orderVolume;
                    } else if (orderVolume <= (presentVolume + bufferVolume)) {
                        cell.style.backgroundColor = '#D6D84F';
                        bufferVolume -= (orderVolume - presentVolume);
                        presentVolume = 0;
                    } else {
                        cell.style.backgroundColor = '#E94F37';
                        presentVolume = 0;
                        bufferVolume = 0;
                    }
                }
            });
            });
            };

        function editOrder(Serial, Slno, name, svolume, quantity, date) {
            document.getElementsByName('uSerial')[0].value = Serial;
            document.getElementsByName('uSlno')[0].value = Slno;
            document.querySelector('#customerSelect1').value = name;
            document.getElementsByName('usvolume')[0].value = svolume;
            document.getElementsByName('uquantity')[0].value = quantity;
            document.getElementsByName('udeliverydate')[0].value = date;
            document.getElementById('updateform').style.display = 'block';
            document.getElementById('updateform').classList.add('show');
        }

        function editVolume(Slno, volume, date) {
            document.getElementsByName('uvSl')[0].value = Slno;
            document.getElementsByName('uvvolume')[0].value = volume;
            document.getElementsByName('uvproductiondate')[0].value = date;
            document.getElementById('updatevolume').style.display = 'block';
            document.getElementById('updatevolume').classList.add('show');
        }

        function wastage(Slno, volume, date) {
            document.getElementsByName('slno')[0].value = Slno;
            document.getElementsByName('wastage')[0].value = volume;
            document.getElementsByName('wastage-date')[0].value = date;
            document.getElementById('wastage-volume').style.display = 'block';
            document.getElementById('wastage-volume').classList.add('show');
        }


        function splitOrder(Serial, Slno, name, svolume, quantity, date){
            const rows = document.querySelectorAll('#ordersTable tbody tr');
            let last_serial = 0;
            rows.forEach(row => {
                const serial = parseInt(row.cells[0].innerText);
                if (serial > last_serial) {
                    last_serial = serial;
                }
            });
            last_serial++;

            document.getElementsByName('sSerial')[0].value = Serial;
            document.getElementsByName('sSlno')[0].value = Slno;
            document.getElementsByName('sname')[0].value = name;
            document.getElementsByName('svolume')[0].value = svolume;
            document.getElementsByName('squantity')[0].value = quantity;
            document.getElementsByName('sdeliverydate')[0].value = date;
            document.getElementsByName('ssSerial')[0].value = last_serial;
            document.getElementsByName('ssSlno')[0].value = Slno;
            document.getElementsByName('ssname')[0].value = name;
            document.getElementsByName('ssvolume')[0].value = svolume;
            document.getElementById('splitform').style.display = 'block';
            document.getElementById('splitform').classList.add('show');
        }

        function placeOrder() {
            document.getElementById('orderForm').action = "/order";
            document.getElementById('orderForm').submit();
        }

        function openform(form){
            document.querySelector(form).style.display = 'block';
            document.querySelector(form).classList.add('show');
        }

        function closeform(form)
        {
            document.querySelector(`${form}`).style.display = 'none';
            document.querySelector(`${form}`).classList.remove = 'show';
        }
    </script>
</body>
</html>